/* * { border: 1px solid red !important; } */

 
.main-background-custom {
    background-image: url(../images/main\ page\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    
}

.leading-page {
    position: absolute;
    top: 50%;
    width: 95%;
}

.logo-custom {
    width: 50vh;
    height: auto;
}

.small-screen-nav-button {
    background-color: black;
    color: azure;
    z-index: 5;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}

.leading-button {
    border-radius: 5rem;
    border-color: #E0E5EF;
    width: 7vw;
    height: 3.2vw;
    background-color: #E0E5EF;
    box-shadow: 0px 7px 15px rgba(255, 255, 255, 0.7);
}

#PLANS {
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    margin: 0;
    overflow: hidden;

}

.top-part {
    height:50vh;
    background-color: #272F32;
}


#ABOUT {
    height: 100vh;
    background-color: red;
}

.mid-part {
    height:1vh;
    background-color: #272F32;
}

.bottom-part {
    height: 70vh;
}

.scrolled {
    background-color: black;
}

.thank-you {
    height: 20vh;
}

.img-side {
    position: absolute;
    height: 14vw;
    bottom: 0;
    transform: translateY(13vw);
}

.card1 {
    width: 55vh;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);

}
.card2 {
    width: 55vh;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
}
.card3 {
    padding: 10px;
    width: 55vh;
    background-color: white;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.6);
}

#EXPERTS {
    height: 110vh;
    width: auto;
    background-color: white;
}

.remove {
    background-image: url(/images/remove.png);
    background-size: 24px;
}

.border {
    height: 76vh;
    width: 80%;
    background-color: #272F32;
}

.img1 {
    height: 75.6vh;
    width: 90%;
}
.img2 {
    height: 75.6vh;
}
.img3 {
    height: 75.6vh;
}

.plan-text p {
    width: 80%;
    margin: auto;
}

.price {
    height: 7vw;
}

.text-div {
    height: 70vh;
}

.foot {
    background-color: #18191B;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}


.line {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 70%;
    border-radius: 50%;
    bottom: 15%; 
    border: 4px solid #1862B5;
}

.typewriter {
    transform: translateY(-7rem);
    padding-left: 5rem;  
}

.leading-page-small {
    top: 30%;
}

.apply-small {
    width: 15vw;
    height: 8vw;
}

.apply-xsmall {
    width: 20vw;
    height: 10vw;
}

.wrappp {
    height: 60vh;
}
.bab {
    background-color: #40ACDA; 
    border: #40ACDA; 
    color:white; 
    width: 30%;
}



@media only screen and (max-width: 1110px) {
    .card1 {
        width: 45vh;

    }
    .card2 {
        width: 45vh;
        transform: translateY(10px);

    }
    .card3 {
        width: 45vh;
        transform: translateY(20px);

    } 
} 

@media only screen and (max-width:991px) {
    .car-img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .bab {
        width: 30vw;
    }
    .card1 {
        width: 80%;
        margin: 10vh
    }
    .card2 {
        width: 80%;
        margin: 10vh;
        transform: translateY(10px);
    }
    .card3 {
        width: 80%;
        margin: 10vh;
        transform: translateY(20px);
    }
    .card3 button {
        margin: 0;
        padding: 0;
        transform: translateY(-20px);
    }
    .card2 button {
        margin: 0;
        transform: translateY(-10px);
    }
    .card1 button {
        margin: 0;
        transform: translateY(-10px);
    }
}


    
  

  .tracking-book {
    height: 15vw;
    width: 11vw;
    background-color: white;
    margin: 0 2rem;
    border-radius: 26px;
  }

  .main-book {
    border-radius: 26px;
    height: 30vw;
    width: 65vw;
    background-color: white;
    border-color: grey;
    border: gray 2px;
  }

  .activated {
      border-radius: 26px;
      background-color: #54D489;
      width: 80%;
}

.active {
    display: flex; 
}

.expert {
    height: 35vh;
}

.expertt1 {
    flex-basis: 33.333333%;
}

.ex1 {
    height: 6vw;
    width: 19vw;
    text-align: left;
    color: black  ;
}

.nav-book {
    height: 10vh;
    background-image: url(../images/ultra-hd-space-facebook-cover.jpg);
}


.frr {
    color: gray;
    font-weight: 100;
    font-size: smaller;

}

.scnd {
    font-weight: bolder;
    font-size: smaller;
}

.frth {
    color: #4EC180;
    font-size: smaller;
}

.user-img {
    height: 3vw;
    width: 3vw;
    
}